button {
  cursor: pointer;
}

.Card-Liberada {
  background-color: rgb(179, 255, 179) !important;
}

.Card-Atrasada {
  background-color: rgb(255, 173, 159) !important;
}

.Card-Pendiente {
  background-color: rgb(241, 255, 163) !important;
}

.CloseButton {
  align-self: flex-end;
  display: flex;
  justify-self: flex-end;
}

.FilterOptions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.Filters {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Image {
  cursor: pointer;
  height: 20px;
  margin: 0 10px;
  width: 20px;
}

.NewTaskData {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.Specs {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 10px 20px;
}

.SpecsTitle {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.SpecsCheckBox {
  align-self: flex-start;
  display: flex;
  justify-self: start;
}

.SpecsContent {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.Spinner {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
}

.Task {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
}
